.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Pour centrer le loader verticalement */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #fff; /* Couleur de fond */
  border-top: 6px solid #3498db; /* Couleur du spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Animation */
}

/* Définition de l'animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media (max-width: 768px) {
  .sidebar {
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }
  .sidebar.isOpen {
    transform: translateX(0);
  }
}
